<!DOCTYPE html>

<html>
  <head>
    <title>Travel Channel</title>
    <script src="../assets/javascripts/jquery/jquery-1.11.3.min.js"></script>
    <script src="../assets/javascripts/angular/angular.min.js"></script>
    <script src="../assets/javascripts/angular/angular-animate.min.js"></script>
    <script src="../assets/javascripts/angular/angular-aria.min.js"></script>
    <script src="../assets/javascripts/angular/angular-material.min.js"></script>
    <script src="../assets/javascripts/angular/angular-material-icons.min.js"></script>

    <script src="../assets/javascripts/build/app.js"></script>
    <script src="../assets/javascripts/build/controllers.js"></script>
    <script src="../assets/javascripts/build/directives.js"></script>
    <script src="../assets/javascripts/build/services.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/angular-material.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/app.css">
  </head>
  <body ng-app="travelChannel" ng-controller="appController">

    <!-- main panel -->
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <!-- title -->
          <img src="../assets/images/app.png" style="height: 32px; padding-right: 5px;" />
          <span ng-if="views.programs">
            Travel Channel
          </span>
          <span ng-if="views.episodes">
            <ng-md-icon icon="arrow_back" style="fill: white;" size="20" ng-click="backToPrograms()" class="pointer"></ng-md-icon>
            {{program.name}}
          </span>
        </div>
      </md-toolbar>
    </md-content>  
    

    <!-- content panel -->
    <md-content class="content">   
      <div class="loading" ng-if="loading" layout="row">
        <span flex></span>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        <span flex></span>
      </div>

      <md-list ng-if="views.programs">
        <md-subheader ng-if="!loading"> {{programs.length}} Programs</md-subheader>
        <md-list-item ng-repeat="program in programs" class="md-3-line pointer" ng-click="goToEpisodes(program)">
          <img ng-src="{{program.image}}" class="md-avatar" />
          <div class="md-list-item-text">
            <h3>{{program.name}}</h3>
            <p><small>{{program.description}}</small></p>            
          </div>
        </md-list-item>
      </md-list>

      <div ng-if="views.episodes">
        <md-subheader ng-if="!loading"> {{episodes.length}} Episodes</md-subheader>
        <md-list-item ng-repeat="episode in episodes" class="md-3-line">
          <img ng-src="{{episode.image}}" class="md-avatar" />
          <div class="md-list-item-text">
            <h3>{{episode.title}}</h3>
            <div>
              <small>
                {{episode.description}}
                <br />
                {{episode.duration}} minutes
              </small>
            </div>        
            <episode-videos episode="episode">
              {{videos}}
            </episode-videos>
          </div>
        </md-list-item>
      </div>
    </md-content>

  </body>
</html>
