<!DOCTYPE html>

<html>
  <head>
    <title>Travel Channel</title>
    <script src="../assets/javascripts/jquery/jquery-1.11.3.min.js"></script>
    <script src="../assets/javascripts/angular/angular.min.js"></script>
    <script src="../assets/javascripts/angular/angular-animate.min.js"></script>
    <script src="../assets/javascripts/angular/angular-aria.min.js"></script>
    <script src="../assets/javascripts/angular/angular-material.min.js"></script>
    <script src="../assets/javascripts/angular/angular-material-icons.min.js"></script>

    <script src="../assets/javascripts/build/app.js"></script>
    <script src="../assets/javascripts/build/controllers.js"></script>
    <script src="../assets/javascripts/build/directives.js"></script>
    <script src="../assets/javascripts/build/services.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/angular-material.css">
    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/app.css">
  </head>
  <body ng-app="travelChannel" ng-controller="appController">

    <!-- main panel -->
    <md-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <!-- title -->
          <img src="../assets/images/app.png" style="height: 32px; padding-right: 5px;" />
          <span ng-if="views.programs">
            Travel Channel
          </span>
          <md-input-container>
            <label>Search</label>
            <input type="text" placeholder="Start typing to search..." ng-model="search.query" />
          </md-input-container>
        </div>
      </md-toolbar>
    </md-content>  
    

    <!-- content panel -->
    <md-content class="content">   
      <div class="loading" ng-if="loading" layout="row">
        <span flex></span>
        <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        <span flex></span>
      </div>

      <div ng-if="!loading">
        <md-list>
          <span ng-repeat="program in programs | filter: search.query" style="padding: 16px;">
            <md-subheader>{{program.title}}</md-subheader>
            <md-list-item ng-repeat="episode in program.episodes" class="md-3-line pointer">
              <img ng-src="{{episode.image}}" class="md-avatar" />
              <div class="md-list-item-text">
                <h3>{{episode.title}}</h3>
                <h5>{{episode.runtime}}</h5>
                <videos episode="episode"></videos>
              </div>
            </md-list-item>
            <md-divider></md-divider>
          </span>          
        </md-list>
      </div>

  </body>
</html>
