<!DOCTYPE html>

<html>
  <head>
    <base href="/">
    <title>Travel Channel</title>
    <script src="app/assets/javascripts/jquery/jquery-1.11.3.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-1.3.15.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-animate-1.3.15.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-aria-1.3.15.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-material-1.0.0.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-material-icons.min.js"></script>
    <script src="app/assets/javascripts/angular/angular-route-1.3.15.min.js"></script>

    <script src="app/assets/javascripts/build/app.js"></script>
    <script src="app/assets/javascripts/build/controllers.js"></script>
    <script src="app/assets/javascripts/build/directives.js"></script>
    <script src="app/assets/javascripts/build/services.js"></script>
    <script src="app/assets/javascripts/build/factories.js"></script>

    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/angular-material-1.0.0.min.css">
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/app.css">
  </head>
  <body ng-app="travelChannel" ng-controller="appController">

    <!-- main panel -->
    <md-content id="topbar">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <!-- title -->
          <img src="app/assets/images/app.png" class="logo" />
          <span ng-if="views.programs">
            Travel Channel
          </span>
          <span ng-repeat="item in Navbar.list">
            <span ng-if="item.type == 'title'">{{item.title}}</span>
            <span ng-if="item.type == 'link'">
              <ng-md-icon icon="arrow_back" style="fill: white" ng-click="item.go()" class="pointer"></ng-md-icon> 
              {{item.label}}
            </span>            
          </span>
        </div>
      </md-toolbar>
    </md-content>  
    

    <!-- content panel -->
    <md-content id="content">
      <div ng-view></div>        
    </md-content>

  </body>
</html>
